@import "tailwindcss";
html {
  scroll-behavior: smooth;
}
.reveal {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.reveal.active {
  opacity: 1;
  transform: scale(1);
}

